@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/*font-family: 'League Spartan', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
    font-family: 'League Spartan', sans-serif;
}

body{
    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    color: hsl(300, 43%, 22%);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    min-height: 100vh;
    
}

.content{
    padding: 5.5em 0em 5.5em;
}

.text-box{
    max-width: 350px;
    margin: 0 auto;
}
.text-title{
    padding: 0em .9em 0em;
    font-weight: 700;
    font-size: 2.45rem;
}

.text-article{
    padding: 1em 0.1em 0em;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color: hsl(303, 10%, 53%);
}

.ratings-box{
    margin: 2.5rem 0rem 3.2rem;
}

.stars img{
    margin: 0rem 0.15rem 0.5rem;
}

.ratings_1, .ratings_2, .ratings_3{
    background-color:hsl(300, 24%, 96%);
    max-width: 500px;
    margin: 0 auto;
    margin-bottom:1rem;
    padding: 1.2rem 0rem 1.2rem;
    border-radius: 10px;
    
}

.rated-text{
    font-weight: 700;
    font-size: 1.15rem;
}


.card_1, .card_2, .card_3{
    background-color: hsl(300, 43%, 22%);
    max-width: 350px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.1rem;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    padding: 2.2rem;
    margin-bottom: 1rem;
}

.img-name-status{
    display: flex;
}

.img-name-status img{
    border-radius: 50%;
    width: 2.6rem;
    max-height: 2.6rem;
    margin-right: 1.5rem;
}

.buyer-name{
    font-weight: 700;
}

.buyer-status{
    color: hsl(333, 80%, 67%);
}

.buyer-review{
    line-height: 1.5rem;
    text-align: left;
    margin-top: 2rem;
}

@media screen and (min-width: 1132px) {
    body{
        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    }
    
    .content{
        padding: 8em 6em;
    }
    
    .text-box{
        max-width: 100%;
        margin: 0 0;
        display: flex;
        justify-content: space-between;
    }

    .title-article{
        width: 40%;
        display: block;
        text-align: left;
        z-index: 1;
    }

    .text-title{
        padding: 0em 0em 0em;
        font-weight: 700;
        font-size: 3.5rem;
    }

    .ratings-box{
        margin: 1.9rem 0rem 0rem;
    }

    .ratings_1, .ratings_2, .ratings_3{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.2rem 0rem;
        padding-left: 2rem;
    }

    .stars{
        padding-right: 0rem;
    }

    .stars img{
        margin: 0rem 0.15rem 0rem;
    }

    .ratings_1{
        margin-left: -6rem;
        margin-right: 6rem;
        padding-right: 6rem;
    }

    .ratings_2{
        margin-left: -3rem;
        margin-right: 3rem;
        padding-right: 3.5rem;
    }

    .ratings_2 .rated-text{
        padding-left: 2rem;
    }

    .ratings_3{
        padding-right: 5rem;
    }

    .cards{
        margin-top: 4.8rem;
        display: flex;
        justify-content: space-between;
    }

    .card_1, .card_2, .card_3{
        padding: 2rem;
        margin-right: 2rem;
    }

    .card_2{
        margin-top: 1rem;
        margin-bottom: -1rem;
    }

    .card_3{
        margin-top: 2rem;
        margin-bottom: -2rem;
    }
}

